In [2]:
import numpy as np
import pandas as pd

# æ‰“å¼€csvæ–‡ä»¶
df = pd.read_csv("BeijingPM20100101_20151231.csv", encoding="gbk", dtype=str)

df

,No,year,month,day,hour,season,PM_Dongsi,PM_Dongsihuan,PM_Nongzhanguan,PM_US Post,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
0,1,2010,1,1,0,4,NaN,NaN,NaN,NaN,-21,43,1021,-11,NW,1.79,0,0
1,2,2010,1,1,1,4,NaN,NaN,NaN,NaN,-21,47,1020,-12,NW,4.92,0,0
2,3,2010,1,1,2,4,NaN,NaN,NaN,NaN,-21,43,1019,-11,NW,6.71,0,0
3,4,2010,1,1,3,4,NaN,NaN,NaN,NaN,-21,55,1019,-14,NW,9.84,0,0
4,5,2010,1,1,4,4,NaN,NaN,NaN,NaN,-20,51,1018,-12,NW,12.97,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52579,52580,2015,12,31,19,4,140,157,122,133,-8,68,1031,-3,SE,7.14,0,0
52580,52581,2015,12,31,20,4,157,199,149,169,-8,63,1030,-2,SE,8.03,0,0
52581,52582,2015,12,31,21,4,171,231,196,203,-10,73,1030,-6,NE,0.89,0,0
52582,52583,2015,12,31,22,4,204,242,221,212,-10,73,1030,-6,NE,1.78,0,0
52583,52584,2015,12,31,23,4,NaN,NaN,NaN,235,-9,79,1029,-6,NE,2.67,0,0

In [3]:
# å»ºç«‹æ–°ç´¢å¼•
df['avg'] = 0
sum = 0
count = 0

# è®¡ç®—df['sum']å’Œdf['count']
for i in range(52582):
    sum = 0
    count = 0
    if not(df['PM_Dongsi'][i] is np.nan):
        sum += int(df['PM_Dongsi'][i])
        count += 1
    if not(df['PM_Dongsihuan'][i] is np.nan):
        sum += int(df['PM_Dongsihuan'][i])
        count += 1
    if not(df['PM_Nongzhanguan'][i] is np.nan):
        sum += int(df['PM_Nongzhanguan'][i])
        count += 1
    if not(df['PM_US Post'][i] is np.nan):
        sum += int(df['PM_US Post'][i])
        count += 1
    if(count == 0):
        count = 1
    # print(sum, count)
    # è®¡ç®—df['avg']
    df['avg'][i] = round(sum/count, 2)
    # print(df['avg'][i])
# df.to_csv("BeijingPM-avg.csv", encoding="gbk")

/home/ethan/.local/lib/python3.6/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [4]:
df

,No,year,month,day,hour,season,PM_Dongsi,PM_Dongsihuan,PM_Nongzhanguan,PM_US Post,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec,avg
0,1,2010,1,1,0,4,NaN,NaN,NaN,NaN,-21,43,1021,-11,NW,1.79,0,0,0
1,2,2010,1,1,1,4,NaN,NaN,NaN,NaN,-21,47,1020,-12,NW,4.92,0,0,0
2,3,2010,1,1,2,4,NaN,NaN,NaN,NaN,-21,43,1019,-11,NW,6.71,0,0,0
3,4,2010,1,1,3,4,NaN,NaN,NaN,NaN,-21,55,1019,-14,NW,9.84,0,0,0
4,5,2010,1,1,4,4,NaN,NaN,NaN,NaN,-20,51,1018,-12,NW,12.97,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52579,52580,2015,12,31,19,4,140,157,122,133,-8,68,1031,-3,SE,7.14,0,0,138
52580,52581,2015,12,31,20,4,157,199,149,169,-8,63,1030,-2,SE,8.03,0,0,168
52581,52582,2015,12,31,21,4,171,231,196,203,-10,73,1030,-6,NE,0.89,0,0,200
52582,52583,2015,12,31,22,4,204,242,221,212,-10,73,1030,-6,NE,1.78,0,0,0
52583,52584,2015,12,31,23,4,NaN,NaN,NaN,235,-9,79,1029,-6,NE,2.67,0,0,0